.cards-slider {
  overflow: hidden;
    white-space: nowrap;
    width: 45%;
    height: 100%;
    position: relative;
    display: inline-block;
  
}

.card {
  float: left !important;
    text-align: left;
  background: #fff;
  width: 160px;
    position: relative;
    display: inline-block;
    left: 0;
    clear: both;
  margin-right: -25px;
    float: none !important;
    transition: transform .2s ease-in-out;
    vertical-align: top;
  padding: 20px 25px;
}

.card .title {
  font-weight: 600;
  font-size: 18px;
  border-bottom: 1px solid #D8D8D8;
}

.card .desc {
  font-size: 14px;
  word-wrap: break-word;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
}

.card img {
  display: block;
  position: relative;
  width: 100%;
}

.slider-btn {
  padding: 0;
  padding-top: 110px;
  padding-left: 20px;
  font-size: 20px;
  text-align: center;
  color: yellow;
  width: 45px;
  height: 10%;
  border: 0;
  cursor: pointer;
  background: none;
  outline: none;
  position: absolute;
  z-index: 999;
  transition: all 0.6s ease 0s;
}


.btn-r {
  right: 0;
}
.btn-l {
  left: 0px;
}